/* 상속, 겹침, 우선순위 */

/* 상속 */
.wrapper {
  color: blueviolet;
  border: 1px dotted cornflowerblue;
}

.wrapper p {
  border: inherit;
}

/* 겹침 (상속) */
body {
  color: hotpink;
}

/* 겹침, 우선순위(선택자) */

/* 나중에(젤 아래)있는 선언이 우선이 됨 */
.ai {
  color: blue;
}

p.ai {
  color: purple;
}

p {
  color: grey;
}

p {
  color: orange;
}

p {
  color: pink !important;
}

/* 아래처럼 될 경우 아래가 우선이 됨 */
/* 더 구체적으로 선택되서 */
/* 일반 태그 가중치 1점, class 10점, id 100점 */
/* .wrapper p {
  color: goldenrod;
} */
