body {
  margin: 50px;
}

/* 멀티 컬럼 레이아웃 */
.container {
  margin-block-start: 20px;

  div {
    padding: 10px;
  }
}

/* 단 너비 */
/* 구분선 */
.like {
  background-color: pink;
  column-width: 200px;
  column-rule: 1px dotted salmon;
}

/* 단 갯수 */
/* 단 여백 */
.lion {
  background-color: lightblue;
  column-count: 2;
  column-rule: 1px solid cornflowerblue;
  column-gap: 2em;
}

/* 단 너비 & 갯수 */
.bootcamp {
  background-color: lightsteelblue;
  columns: 200px 2;

  span {
    font-size: 1.5rem;
    color: #fff;
    background-color: pink;
    display: block;
    column-span: all;
    margin-block: 0.5em;
  }
}
