body {
  margin: 50px;
}

/* keyframe */
@keyframes zoom {
  /* 시작점 */
  from {
    width: 100px;
    background-color: lightblue;
  }

  100% {
    width: 200px;
    background-color: pink;
  }

  /* 끝나는점 */
  /* to {
    width: 100px;
    background-color: yellow;
  } */
}

.zoom .target-animation {
  border: 5px solid currentColor;
  padding: 10px;
  width: 100px;
  /* animation-name: zoom;
  animation-duration: 5s;
  animation-iteration-count: 2;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-delay: 1s;
  animation-fill-mode: both;
  animation-play-state: paused; */
  animation: zoom 5s 1s 3 alternate ease-in-out forwards paused;
}

/* 공통 스타일 */
.case {
  padding: 10px;
  margin: 15px 10px;
  border: 2px solid lightblue;
  border-radius: 5px;
  box-shadow: 1px 2px 5px #ccc;

  .target-animation {
    border-radius: 0.5rem;
    padding: 1em;
    font-size: 1.5rem;
    font-weight: 700;
    background: lightblue;
    color: var(--white);
    text-align: center;
    margin-block: 15px;
    align-content: center;
  }

  div {
    margin: 10px;

    button {
      background-color: lightblue;
      border: none;
      border-radius: 2px;
      padding: 4px 8px;
    }
  }
}

/* Fade Animation */
.fade .target-animation {
  /* animation-name: fade;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; */
  /* 양방향으로 애니메이션 설정. 아래. */
  /* animation-direction: alternate; */

  animation: fade 3s infinite alternate linear;
  animation-play-state: paused;

  /* animation: fade 3s infinite ease-in-out forwards; */
}

/* Shrink Animation */
.shrink .target-animation {
  /* name, duration, iteration, function */
  animation: shrink 2s infinite ease-in-out;
  animation-play-state: paused;
}

/* Bounce Animation */
.bounce .target-animation {
  /* name, duration, iteration, direction, function */
  animation: bounce 2s infinite alternate ease-in-out;
  animation-play-state: paused;
}

/* Shake Animation */
.shake .target-animation {
  /* name, duration, iteration, direction, function */
  animation: shake 2s infinite alternate ease-in-out;
  animation-play-state: paused;
}

/* Spin Animation */
.spin .target-animation {
  width: 120px;
  aspect-ratio: 1;
  background: conic-gradient(
    pink,
    lightblue,
    hotpink,
    violet,
    pink,
    ivory,
    hotpink,
    pink
  );
  border-radius: 50%;
  animation: spin 1s infinite linear;
  animation-play-state: paused;
}

/* Pulse Animation */
.pulse .target-animation {
  /* name, duration, iteration, direction, function */
  animation: pulse 1s infinite alternate ease-in-out;
  animation-play-state: paused;
}

/* Flip Animation */
.flip .target-animation {
  /* name, duration, iteration, function */
  animation: flip 1s infinite alternate ease-in-out;
  animation-play-state: paused;
}

/* Wobble Animation */
.wobble .target-animation {
  /* name, duration, iteration, function */
  animation: wobble 1s infinite alternate ease-in-out;
  animation-play-state: paused;
}

/* CSS 변수 활용 Animation */
.rotate .target-animation {
  --rotation: 0deg;

  inline-size: 120px;
  aspect-ratio: 1;
  position: relative;

  &::before,
  &::after {
    content: '';
    position: absolute;
    inset-block-start: 50%;
    inset-inline-start: 50%;

    /* background: conic-gradient(
      from var(--rotation),
      red 0 10%,
      transparent 10% 100%
    ); */

    background: conic-gradient(
      from var(--rotation),
      pink,
      lightblue,
      hotpink,
      violet,
      pink,
      ivory,
      hotpink,
      pink
    );

    z-index: -1;
    padding: 5px;
    inline-size: 100%;
    block-size: 100%;
    box-sizing: content-box;
    translate: -50% -50%;
    border-radius: 0.5rem;

    animation: rotate 500ms infinite linear;
    animation-play-state: paused;
  }

  &::before {
    filter: blur(0.5rem);
  }
}
