:root {
  /* light-dark() 함수를 사용하기 위한 속성 선언 */
  color-scheme: light dark;
}

body {
  margin: 50px;
  background-color: goldenrod;
  color: light-dark(green, red);

  /* Media Query - Dark Mode */
  @media (prefers-color-scheme: dark) {
    background-color: teal;
  }
}
